
.none {
    display: none !important; 
}

.Auto_inhouse{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.btn_ONOFF {
    z-index: 1; 
    position: fixed;
    right: 1px ; 
    top: 1px;
    cursor: pointer;
    border: 1px;
    /* border-color: black;
    border-style: dotted; */
    width: 30px;
    height: 30px;
    background: none;
    transition: all 0.2s ease;
}

.btn_ONOFF:hover {
    background-color: #E54A2B;
}
/* ========================================================== */
.button_long {
    max-width: 100px;
    height: 40px;
    background-color: #FFFF;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    min-width: 72px;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    transition: all 0.2s ease;

    z-index: 101;
}
.button_long > label {
    cursor: pointer;
}
.button_long:hover {
    background-color: rgb(209, 209, 209);
    border: 1px solid #ee4d2d; 
}
/* ========================================================== */
.select {
    transform: scale(1) !important;
}
.item_erorr {
    position: relative;
}
.item_erorr> .menu_erorr {
    position: absolute;
    top: 100%;
    transform: scale(0);
    transition: all 0.2s ease;
}
/* search============================================================= */

.search_container {
    position: relative;
    z-index: 100;
    /* border: 1px solid red; */
    
    transition: all 0.4s ease;
    align-self: center;
    width: 44px;
    height: 44px;
}

.search_box {
    /* border: 1px solid yellow; */
    position: absolute;
}

.search_button{
    position: absolute;
    width: 40px;
    height: 40px;

    top: 1px;
    left: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    z-index: 1;
}



.search_input {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 1.5px solid #e5e5e5;
    border-radius: 5px;

    transition: all 0.2s ease;
    outline: none;

    padding: 0;
}

.search_input::placeholder {
    font-size: 15px;
    color: #00000069;
}

.search_button > i {
    color: #445571;
    font-size: 18px;
}

.search_result_box {
    position: absolute;
    width: 0;
    height: auto;
    max-height: 200px;

    top: 42px;
    overflow: auto;

    background-color: #FFFF;
    transition: all 0.2s ease;
}


/* ====================================================================== */

.search_result_item {
    display: flex;
    background:#e5e5e5;
    margin: 10px 0;   
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.search_result_L1,
.search_result_L2 {
    align-self: stretch; 
    flex-basis: 22%; 
    display: flex;
    justify-content: center;
}

.search_result_L3 {
    align-self: stretch; 
    flex-basis: 56%; 
    display: flex;
    justify-content: center;
}

.search_result_L1 > label,
.search_result_L2 > label,
.search_result_L3 > label {
    text-align: center;
    align-self: center;  
    justify-content: center;
    cursor: pointer;
    padding: 10px 0;
}
/* ====================================================================== */

.search_result_Explain {
    position: fixed;
    top: 241px;
    left: calc(50% - 339px);

    background-color: #333;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    text-align: start;
    max-width: 500px;

    transition: all 0.2s ease;
    transform: scale(0);
    opacity: 0;
}

.search_input_after {
    width: calc(50vw - 352px);
    padding: 0 0 0 45px;
}

.search_result_box_after {
    width: calc(50vw - 352px);
    height: auto;
    max-height: 200px;
    box-shadow: rgb(0 0 0 / 10%) 2px 7px 10.0411px, rgb(0 0 0 / 8%) 6px 14px 13.8316px, rgb(0 0 0 / 6%) 14px 24px 15px;
    border-radius: 5px;
}

.search_button:hover + .search_input,
.search_input:hover{
    border: 1px solid #E54A2B; 
}

.search_button:hover > i{
    color: #E54A2B; 
}

.search_result_item:hover > .search_result_Explain {
    transform: scale(1);
    opacity: 1;
}

/* ==================================================================== */
.toggle_switch{
    position: relative;
    width: 50px;
    height: 30px;
    display: inline-block;
    align-self: center;
    margin: 5px 0 5px 0;
}

.toggle_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle_switch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

.toggle_switch span:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.toggle_switch input:checked + span {
    background-color: #ee4d2d;
}

.toggle_switch input:focus + span {
    box-shadow: 0 0 1px #ee4d2d;
}

.toggle_switch input:checked + span:before {
    transform:  translateX(22px);
}

